# Java
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Vue / Node
node_modules/
dist/
*.local
npm-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.iml

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
